@model Entities.Randevu

@{
    ViewBag.Title = "Create";
}

<h2 style="color:black">Randevu Oluştur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Ilid, "Şehir", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Ilid", ViewBag.CountryList as SelectList, "İl Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ilid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ilceid, "Nüfus Müdürlüğü", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Ilceid", new SelectList(" "), "İlçe Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ilceid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RandevuGunu, "Gün", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" id="RandevuGunu" name="RandevuGunu" type="date" value="">
            @Html.ValidationMessageFor(model => model.RandevuGunu, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SaatId, "Saat", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SaatId", ViewBag.CountryList as SelectList, "Saat Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SaatId, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.Nedenid, "Neden:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Nedenid", ViewBag.CountryList as SelectList, "Randevu Alma Nedeniniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nedenid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p>
            <input type="submit" value="Oluştur" class="btn btn-default" />
            @Bootstrap.LinkButton("/Home/Anasayfam", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön")
        </p>
    </div>
</div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

